
    <title>Ссылки</title>
    <h1>Movie</h1>
    <a href="{% url 'Menu' %}movie/create/">Movie create</a>
    <a href="{% url 'Menu' %}movie/<int:pk>/">Movie id</a>
    <a href="{% url 'Menu' %}movie/list/">Movie list</a>
    <a href="{% url 'Menu' %}movie/<int:pk>/update/">Movie update</a>
    <a href="{% url 'Menu' %}movie/<int:pk>/delete/">Movie delete</a>
        <h1>CinemaUser</h1>
    <a href="{% url 'Menu' %}сinemaUser/create/">CinemaUser create</a>
    <a href="{% url 'Menu' %}сinemaUser/<int:pk>/">CinemaUser id</a>
    <a href="{% url 'Menu' %}сinemaUser/list/">CinemaUser list</a>
    <a href="{% url 'Menu' %}сinemaUser/<int:pk>/update/">CinemaUser update</a>
    <a href="{% url 'Menu' %}сinemaUser/<int:pk>/delete/'">CinemaUser delete</a>
        <h1>Cinema</h1>
    <a href="{% url 'Menu' %}cinema/create/}">Cinema create</a>
    <a href="{% url 'Menu' %}cinema/<int:pk>/">Cinema id</a>
    <a href="{% url 'Menu' %}cinema/list/">Cinema list</a>
    <a href="{% url 'Menu' %}cinema/<int:pk>/update/">Cinema update</a>
    <a href="{% url 'Menu' %}cinema/<int:pk>/delete/">Cinema delete</a>
        <h1>Hall</h1>
    <a href="{% url 'Menu' %}hall/create/">Hall create</a>
    <a href="{% url 'Menu' %}hall/<int:pk>/">Hall id</a>
    <a href="{% url 'Menu' %}hall/list/">Hall list</a>
    <a href="{% url 'Menu' %}hall/<int:pk>/update/">Hall update</a>
    <a href="{% url 'Menu' %}hall/<int:pk>/delete/">Hall delete</a>
        <h1>Session</h1>
    <a href="{% url 'Menu' %}session/create/">Session create</a>
    <a href="{% url 'Menu' %}session/<int:pk>/">Session id</a>
    <a href="{% url 'Menu' %}session/list/">Session list</a>
    <a href="{% url 'Menu' %}session/<int:pk>/update/">Session update</a>
    <a href="{% url 'Menu' %}session/<int:pk>/delete/">Session delete</a>n/<int:pk>/delete/' %}">Session delete</a>